* {
  transition: 0.3 ease-out all;
}

.h1 {
  text-align: center;
  font-weight: 700;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(39, 36, 51);
}

.h1::after {
  content: "";
  position: relative;
  width: 15%;
  height: 3px;
  background-color: rgb(39, 36, 51);
}

.card {
  background-color: rgb(197, 197, 197);
  padding: 20px;
  text-align: center;
  width: 95%;
  margin: 2% auto;
}

/* .header {
  border: 2px solid;
} */
.add-btn {
  padding: 10px 35px 10px 35px;
  background: transparent;
  border-radius: 5px;
  border: 2px solid purple;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s ease-out all;
}

.add-btn:hover {
  background-color: rgba(191, 122, 255, 0.445);
  color: rgb(255, 255, 255);
}

.flex {
  display: flex;
  flex-direction: row;
  /* border: 3px solid; */
}

.Item-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 3px solid black; */
}

.Item-2 div {
  font-weight: 700;
  /* border: 3px solid black; */
  /* margin: 20px; */
}

.Item-1 {
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 12px;
  margin-right: 3%;
  padding: 1%;
  background-color: rgba(97, 1, 97, 0.884)
}

.date {
  font-size: 1em;
  font-weight: 700;
}

.expCard {
  display: flex;
  background-color: rgba(150, 113, 219, 0.74);
  color: aliceblue;
}

.cost {
  background-color: rgba(93, 2, 121, 0.534);
  border-radius: 10px;
  border: 2px solid;
  padding: 10px 30px;
}

.month {
  font-size: 1.4em;
  font-weight: 000;
}

.day {
  font-size: 1.3em;
  font-weight: 700;
}

.year {
  display: inline-block;
  font-size: 0.8em;
  font-weight: 900;
  margin: 0;
  position: relative;
  left: 10;
}

.title {
  font-size: 1.5em;
}

@media (max-width: 786px) {
  .Item-1 {
    height: 4.3rem;
    width: 6rem;
    margin-right: 5%;
  }

  .expCard {
    font-size: small;
    justify-content: space-between;
  }
  /* .expCard .Item-1 {
    display: none;
  } */
  .Item-2 {
    display: grid;
    grid-template-columns: repeat(1,100%);
    text-align: left;
  }
  .cost {
    text-align: center;
  }
  .cost-div {
    margin-top: 10%;
    grid-column: 2/1;
    display: flex;
    justify-content: flex-end;
  }
}