*{
  list-style: none;
  padding: 0;
  margin: 0;
}

.expenses{
  padding: 1rem;
  margin: 2rem auto;
  max-width: 95%;
  width: 50rem;
  background-color: rgba(54, 54, 54,0.9);
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(34, 34, 34, 0.25);
}